@page
@model AppTeste.Pages.Aneis.IndexModel

@{
    ViewData["Title"] = "Anéis";
}

<h1>Anéis</h1>

<p>
    <a asp-page="Create">Criar um Anel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ring[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring[0].Poder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring[0].Portador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring[0].ForjadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring[0].Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ring) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForjadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Atualizar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
